:root {
    /* colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;

    font-family: 'Outfit', sans-serif;

    background-color: var(--clr-light-gray);
    color: var(--clr-grayish-blue);
}

.qr-card {
    padding: 1rem;
    max-width: 20rem;

    border-radius: 15px;

    text-align: center;

    background-color: var(--clr-white);
    -webkit-box-shadow: 0px 5px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 21px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 21px -9px rgba(0,0,0,0.75);
}

.qr-card__code {
    width: 100%;

    border-radius: 15px;
}

.qr-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

.text__title {
    font-size: 1.3rem;
    color: var(--clr-dark-blue);
}

.text__subtitle {
    margin-bottom: 0.5rem;
    font-size: 0.93rem;
}
